[Unit]
Description=First Boot Kickoff
After=systemd-remount-fs.service
Before=systemd-sysusers.service sysinit.target shutdown.target
Wants=network-pre.target
ConditionPathExists=/dev/fd0
ConditionPathExists=!/etc/machine-id

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/kickoff/kickoff.sh'
StandardOutput=tty
StandardInput=tty
StandardError=tty

[Install]
WantedBy=sysinit.target
