[Unit]
Description=First Boot Kickoff
After=systemd-remount-fs.service
Before=network-pre.target systemd-sysusers.service sysinit.target shutdown.target
ConditionPathExists=/dev/fd0
ConditionPathExists=!/etc/machine-id

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/kickoff/kickoff.sh

[Install]
WantedBy=sysinit.target
